.place__title_berea{
    width:fit-content;
    grid-column-end: text-end;
    min-height: 152px;
    max-width: 790px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .place__title_berea{
        min-height: 100px;
        max-width: 450px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__title_berea{
        min-height: 70px;
        max-width: 320px;
    }
}